<html lang="en">
    <%- include('./partials/nav.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blog content">
        <h2> 404, not found !</h2>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>