<html lang="en">
    <%- include('./partials/nav.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2> All blogs</h2>
        <P> All these info are about us </P>
        <P> All these info are about us </P>
        <P> All these info are about us </P>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>